@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

/*去掉行内替换元素空白缝隙*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    color: #666;
    font-family: 'Microsoft YaHei';
    /*background-color: #f2f2f2;*/
    background: url(../images/index_header_bak1222.jpg) top center;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #dd2626;
}
a:visited {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*京东色*/
.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
.ib {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.hidden{
    display: none;
}
.hidden.show{
    display: block;
}
/*左侧广告栏*/
.left{
    position: absolute;
    width: 130px;
    height: 173px;
    top:270px;
    z-index:3;
}
.left{
    left: 0;
}
.left span{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 18px;
    background: url("../images/h.jpg");
    cursor: pointer;
}
/*顶部栏===================开始*/
.header {
    height: 150px;
    background: url(../images/index_header_bak.jpg) top center no-repeat;
    min-width: 1200px;
}
.header .container {
    overflow: visible;
    z-index: 997;
}
/*logo===========开始*/


.header .logo {
    height: 150px;
    width: 340px;
}
.header .logo img {
    margin-top: 35px;
    margin-left: 3px;
}
/*logo===========结束*/
/*中间搜索框==========开始*/
.header .centerBar {
    height: 150px;
    width: 520px;
}
.header .centerBar .searchBar {
    border: 4px solid #dd2727;
    height: 40px;
    width: 512px;
    margin-top: 50px;
    background-color: #dd2727;
}
.header .centerBar .searchBar input {
    border: none;
    border-right: none;
    height: 40px;
    line-height: 40px;
    outline: none;
    width: 405px;
    padding: 0 10px;
    color: #767676;
}
/*搜索下面的内容*/
.header .centerBar .m {
    /*display: block;*/
    padding-top: 6px;
    height: 16px;
    overflow: hidden;
}
.header .centerBar .m a {
    margin-right: 10px;
    font-size: 12px;
    color: #393939;
    display: block;
    float: left;
}
.header .centerBar .m a:hover {
    color: #dd2626;
    text-decoration: none;
}
/*右边的登录*/
.header .toolBar {
    height: 150px;
    margin-right: 3px;
}
.header .toolBar img {
    margin-top: 55px;
    margin-left: 6px;
}
/*中间搜索框==========结束*/
/*顶部栏===================结束*/
/*导航栏======================开始*/
.navBar {
    height: 44px;
    background: url(../images/nav_main_bak.png) repeat-x;
}

 .navBar .container {
    padding-left: 26px;
    width: 1174px;
}

 .navBar ul li {
    float: left;
}
 .navBar .item {
    height: 44px;
    width: 130px;
    background: url(../images/nav_bak.png) left no-repeat;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-left: -26px;
    text-decoration: none;
}
.navBar #item{

}

 .navBar .item:hover {
    background: url(../images/nav_bak_active.png) right no-repeat;
}
/*首页默认*/
.navBar .active {
    background: url(../images/nav_bak_active.png) right no-repeat;
}
/*右边上传按钮*/
.navBar .btn {
    margin-top: 6px;
    margin-right: 3px;
}

/*子导航栏===============开始*/
.main-nav{
    position: relative;
}
.sonNav {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    display: none;
    /*visibility: hidden;*/
    /*top: 44px;*/
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 165px;
    /*background:deeppink;*/
    background: rgba(0, 0, 0, 0.7);
    z-index: 111;
}

.sub-nav-inner {
    width: 1200px;
    height: 165px;
    padding-left: 203px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    /*opacity:0.5;*/
}

.sonNav .sub-nav-inner .sub-nav-item {
    margin-top: 10px;
    float: left;
    width: 100px;
    text-align: center;
}

.sonNav .sub-nav-inner .sub-nav-item a {
    width: 100px;
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: white;
    font-family: "微软雅黑";
}

.sonNav .sub-nav-inner .sub-nav-item a:hover {
    color: #ff4b5a;
}


/*子导航栏===============结束*/

/*导航栏======================结束*/

/*展示栏========================开始*/
 .bannerBar {
    margin-top: 16px;
    height: 380px;
}

 .bannerBar .b-1 {
    width: 856px;
    height: 380px;
    float: left;
    overflow: hidden;
}
.bannerBar .bannerForm {
    position: relative;
}

.bannerBar .bannerForm ul {
    width: 5640px;
    position: absolute;
    left: 0;
    top: 0;
}

.bannerBar .bannerForm ul li {
    display: inline-block;
    zoom: 1;
    /*font-size: 0;*/
}

.bannerBar .bannerForm ul li img {
    width: 852px;
    height: 380px;
    /*font-size: 0;*/
}
/*图片中的数字*/
.container ol {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
}

.container ol li {
    float: left;
    width: 20px;
    height: 20px;
    background: #ff756d;
    border: 1px solid #ccc;
    margin-left: 10px;
    color:white;
    cursor: pointer;
}

.container ol li.current {
    background: red;
}

/*左右焦点*/
#arr {
    display: none;
}

#arr span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体',sans-serif;
    font-size: 30px;
    color: #fff;
    opacity: 0.3;
    border: 1px solid #fff;
}

#arr #right {
    right: 348px;
    left: auto;
}
/*右边部分*/
.bannerBar .b-2 {
    width: 164px;
    height: 185px;
    margin-left: 8px;
    margin-bottom: 10px;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    overflow: hidden;
    /*background-color: #ff8bbe;*/
}
/*.bannerBar .b-2 img{*/
    /*transition: all 2s;*/
    /*transform-origin: bottom;*/
/*}*/
.bannerBar .b-2:hover{
    border:2px solid #cc797c;
}

/*展示栏========================结束*/

/*分类选项部分==================开始*/
.classBar {
    margin-top: 16px;
    border: 1px solid #dadada;
    background-color: #fff;
    padding: 10px 4px;
    overflow: hidden;
}
.classBar li {
    float: left;
    color: #393939;
    font-size: 14px;
    padding: 0 18px;
    border-left: 1px solid #dbd9d9;
}
.classBar li:first-child {
    border-left: none;
}
.classBar li a:hover {
    color: #dd2626;
}
/*分类选项部分==================结束*/
/*内容栏==================开始*/
 .content {
    margin-top: 16px;
}


.content .centerBar {
    width: 870px;
    border: 1px solid #dadada;
    background-color: #fff;
    float: left;
    border-right: none;
}

.content .centerBar .top {
    height: 48px;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    color: #393939;
    line-height: 48px;
    margin: 0 20px;
    margin-bottom: 3px;
}
.content .centerBar .top .logo {
    float: left;
    margin-top: 13px;
    margin-right: 8px;
}

 .content .centerBar .top .more {
    font-size: 12px;
    color: #a6a6a6;
    padding-right: 16px;
    background: url(../images/index_more_logo.png) right 17px no-repeat;
    /*background-position: right 17px;*/
    /*background-repeat: no-repeat;*/
}

.content .centerBar .top .more:hover {
    color: #dd2626;
}

 .content .centerBar .top .btnGroup a {
    height: 52px;
    display: block;
    float: left;
    font-size: 14px;
    margin-right: 30px;
}

.content .centerBar .top .btnGroup a.active {
    font-size: 16px;
    color: #dd2727;
    /*background-image: url(../images/index_btn_active.png);*/
    /*background-position: center 47px;*/
    /*background-repeat: no-repeat;*/
}

.content .centerBar .list {
    padding: 11px 5px;
    overflow: hidden;
    height: 412px;
}

 .content .centerBar .list ul {
    padding: 0 4px;
}

 .content .centerBar .list ul li {
    width: 122px;
    margin: 10px 10px;
    float: left;
    /*background-image: url(../images/index_book_bak.png);*/
    /*background-position: 0 161px;*/
    /*background-repeat: no-repeat;*/
    position: relative;
}

.content .centerBar .list ul li .cover {
    width: 120px;
    height: 160px;
    border: 1px solid #d9d7d7;
}

.content .centerBar .list ul li .title {
    font-size: 14px;
    color: #393939;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .content .centerBar .list ul li .title:hover {
    color: #dd2626;
}

 .content .centerBar .list ul li .subtitle {
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 136px;
    left: 1px;
    width: 110px;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    background-color: #000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .content .centerBar .list ul li .log {
    position: absolute;
    top: -1px;
    left: -1px;
}

 .content .sideBar {
    width: 326px;
    border: 1px solid #dadada;
    background-color: #fff;
    float: left;
}

.content .sideBar .top {
    height: 48px;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    color: #393939;
    margin: 0 20px;
}

.content .sideBar .top .logo {
    float: left;
    margin-top: 13px;
    margin-right: 8px;
}

 .content .sideBar .top .t {
    padding-top: 11px;
    display: inline-block;
}

.content .sideBar .top .select {
    font-size: 12px;
    padding-top: 13px;
}

 .content .sideBar .top .select span {
    background-color: #f2f2f2;
    border-radius: 9px;
    padding: 1px 0;
    display: inline-block;
    height: 16px;
}

.content .sideBar .top .select a {
    color: #a6a6a6;
    padding: 1px 8px;
}

.content .sideBar .top .select a:hover {
    color: #dd2626;
}
.content .sideBar .top .select a.active {
    background-color: #dd2727;
    color: #fff;
    border-radius: 9px;
}

 .content .sideBar .list {
    padding: 10px;
    overflow: hidden;
    height: 417px;
     display: none;
}
.content .sideBar .show{
    display: block;
}
 .content .sideBar .list .one {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.content .sideBar .list .one .cover {
    /*width: 95px;*/
    height: 70px;
    float: left;
}

.content .sideBar .list .one .tip {
    position: absolute;
    top: 12px;
    left: 8px;
}

.content .sideBar .list .one .info {
    float: left;
    padding-left: 10px;
}

.content .sideBar .list .one .info p {
    line-height: 23px;
}

.content .sideBar .list .one .info .title {
    font-size: 14px;
    color: #393939;
}

.content .sideBar .list .one .info .title a:hover {
    color: #dd2626;
}

.content .sideBar .list .one .info .subtitle {
    font-size: 12px;
    color: #a6a6a6;
}

 .content .sideBar .list .one .border {
    border-bottom: 1px solid #d9d9d9;
    float: left;
    width: 100%;
    margin-top: 12px;
}

.content .sideBar .list ul li {
    margin: 15px 10px;
    font-size: 14px;
    color: #393939;
    overflow: hidden;
}
.content .sideBar .list ul li:first-child {
    margin-top: 5px;
}

.content .sideBar .list ul li a:hover {
    color: #dd2626;
}
 .content .sideBar .list ul li .tip {
    float: left;
    height: 18px;
    width: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.content .sideBar .list ul li .tip_2 {
    color: #fff;
    border: 1px solid #dc7f26;
    background-color: #ffb36a;
}

.content .sideBar .list ul li .tip_3 {
    color: #fff;
    border: 1px solid #228ed2;
    background-color: #43b6ff;
}

 .content .sideBar .list ul li .tip_other {
    color: #b2b2b2;
    border: 1px solid #d9d9d9;
    background-color: #e8e8e8;
}

 .content .sideBar .list ul li .title {
    float: left;
    padding-left: 10px;
    cursor: pointer;
}
.content .nobottom {
    border-bottom: none;
}

 /*.content .adCom {*/
    /*text-align: center;*/
    /*padding: 20px 0;*/
    /*border: 1px solid #dadada;*/
    /*border-top: none;*/
    /*background-color: #fff;*/
    /*float: left;*/
    /*width: 1197px;*/
/*}*/
/*内容栏==================结束*/
/*底部栏*/
.footer {
    background-color: #fff;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
    height: inherit;
}

.footer p {
    height: 25px;
}

.footer .logo {
    vertical-align: top;
    margin-top: 5px;
    padding-left: 20px;
}

.footer .logo_1 {
    margin-top: -5px;
}
/*登陆的层=================开始*/
.login {
    width: 512px;
    position: absolute;
    border: #ebebeb solid 1px;
    height: 280px;
    left: 50%;
    right: 50%;
    background:white url("../images/login_left_logo.jpg") top right no-repeat;
    box-shadow: 0 0 20px #ddd;
    z-index: 9999;
    margin-left: -250px;
    margin-top: 140px;
    display: none;
}
.login-title {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    cursor: move;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    /*-khtml-user-select:none;/!*早期浏览器*!/*/
    user-select:none;
}
.login-input-content {
    margin-top: 20px;
}
.login-button {
    width: 50%;
    margin: 30px auto 0 auto;
    line-height: 40px;
    font-size: 14px;
    border: #ebebeb 1px solid;
    text-align: center;
}
.login-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}

.login-button a {
    display: block;
    color: red;
    font-weight: bolder;
    border: 1px solid olivedrab;
}
.login-input input.list-input {
    float: left;
    line-height: 35px;
    height: 35px;
    width: 350px;
    border: #eb4947 1px solid;
    text-indent: 5px;
}
.login-input {
    overflow: hidden;
    margin: 0 0 20px 0;
}
.login-input label {
    float: left;
    width: 90px;
    padding-right: 10px;
    text-align: right;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}
.login-title span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


/*登陆的层=================结束*/
/*固定导航栏=======开始*/
.fixed {
    position: fixed;
    top: 0;
    left: 75px;
    z-index: 3;
}
/*固定导航栏=======结束*/

/*跳转到顶部*/
.moveUp{
    position: fixed;
    right: 5px;
    bottom: 20px;
}
.moveUp img{
    width: 50px;
    height: 50px;
}
.moveUp p{
    margin-left: 12px;
    margin-top: -5px;
    font-size:12px;
}



